.body{
    background: url(../assets/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: relative;
}
.informes_main{
    height: 71vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    button{
        background-color: var(--colorverde);
        color: var(--color7);
        font-size: 0.875rem;
        font-weight: 500;
        border-radius: 0.5rem;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        height: 60px;
        padding: 0.2em 0.5em;
        width: 200px;
        box-shadow: rgb(255, 255, 255) 0px 22px 70px 4px;
        
    }
    button:hover{
        scale: 1.1;
    }
    button:nth-child(1) {
        background-color: var(--color2);
    }
    button:nth-child(2) {
        background-color: var(--color8);
    }
    button:nth-child(3) {
        background-color: var(--color4);
    }
    button:nth-child(4) {
        background-color: var(--colorverde);
    }
}


/* General */
.informe_body {
    background-color: #f8f9fa;
    height: auto;
}
.container_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0 .5em 0;
    .btn-pdf{
        border: 2px solid #999;
        background-color: none;
        border-radius: 12px;
        background-color: white;
        
        .btn-pdf-img{
            width: 4em;
            height: 4em;
            background-color: none;
        }
    }
    .btn-pdf:hover{
        scale: 1.02;
        background-color: var(--color9);
        cursor: pointer;
    }
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    max-height: 80vh;
    overflow-y: scroll;
    border-radius: 12px;
}

/* Títulos */
.informe_titulo {
    font-size: 2rem;
    color: var(--color1);
    margin-bottom: 20px;
    text-align: center;
    
}

.informe_descripcion {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Tabla principal */
.tabla_informe {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.tabla_informe th, .tabla_informe td {
    border: 1px solid #b6cce2;
    padding: 10px;
    text-align: left;
}

.tabla_informe th {
    background-color: var(--color1);
    color: white;
    font-weight: bold;
}
/* Detalles de ventas/compras */
.details {
    display: none;
}

.tabla-detalle {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabla-detalle th, .tabla-detalle td {
    border: 1px solid #b6cce2;
    padding: 8px;
    text-align: left;
}

.tabla-detalle th {
    background-color: var(--colorverde);
    color: white;
    font-weight: bold;
}

/* Botón de detalles */
.btn-detalles {
    padding: 5px 15px;
    background-color: var(--color1);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-detalles:hover {
    background-color:  var(--colorverde);
    scale: 1.01;
}

/* Sección de Total Ganancia */
.informe-total {
    background-color: var(--colorverde);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    align-self: center;
    justify-self: center;
    max-width: 1100px;
    padding: 20px;
    margin: 1em 0 2em 0;
    border-radius: 12px;
}

.informe-total .text-right {
    text-align: center;
}