/* Clases de la modal */
.modal {
    position: fixed; /* Cambiado a fixed para asegurar que esté siempre visible */
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: #111111bd;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Deshabilitado inicialmente */
    z-index: 999;
    display: none; /* Añadido flex para centrar el contenido cuando esté visible */
    transition: opacity 0.3s ease;
}

.modal--show {
    display: flex;
    pointer-events: auto;
}

/* Formulario específico dentro de la modal */
.modal_form {
    display: none; /* Oculto por defecto */
}

.content--show {
    display: block; /* Mostrar el formulario activo */
}

/* Contenedor dentro de la modal */
.modal_contenedor {
    position: relative;
    box-shadow: 0 0px 10px 18px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    width: 25vw;
    background-color: var(--color7);
    border-radius: 12px;
    padding: 1em;
    z-index: 1000;
    transform: translateY(0); /* Para que no se vea afectado al abrir */
    transition: transform 0.3s ease;
    overflow-y: auto;
    max-height: 80vh;
    
}

/* Clases de los formularios */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    label{
        font-weight: 900;
        color: var(--color3);
    }
    .custom-file-upload{
        font-weight: 500;
        color: #000;
    }
}

.form h2 {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1em;
    font-weight: 900;
}

.form input {
    padding: 1em 0.5em;
    border-radius: 12px;
    margin-bottom: 0.5em;
    border: none;
    border-bottom: 1px solid var(--color9);
    color: black;
    font-weight: 500;
}

.form input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.form div {
    align-self: center;
    padding-top: 2em;
}

.form input[type="submit"], .cerrarModal {
    background-color: var(--colorverde);
    color: white;
    border: none;
    padding: 1em 0.5em;
    border-radius: 12px;
    width: 75px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-align: center;
}

.cerrarModal {
    background-color: var(--color5);
}

.cerrarModal:hover {
    background-color: var(--color2);
    transform: scale(1.1);
}

.form input[type="submit"]:hover, .add-button:hover, .eliminarFila:hover {
    transform: scale(1.1);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    background-color: #f0f0f0;
    border-radius: 12px;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-file-upload:hover {
    background-color: #ddd;
}
.add-button{
    background-color: var(--color3);
    color: #fff;
    padding: 1em 0;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-align: center;
    border-radius: 12px;
    border: none;
}
.contenedor-art{
    width: 100%;
}
.articulo-fila,.producto-fila{
    display: flex;
    flex-direction: column;
}
.articulo-fila div, .producto-fila div{
    position: relative;
    width: 100%;
    input{
        width: 100%;
        margin-bottom: 0;
    }
}
.eliminarFila{
    align-self: flex-end;
    border: none;
    background-color: red;
    color: white;
    border-radius: 12px;
    width: 20px;
    cursor: pointer;
    transition: .2s;
    height: 20px;
}
.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    max-height: 120px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background: white;
    width: 100%;
    z-index: 1000;
    border-radius: 12px;
  }
  .dropdown .listItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    img{
        width: 20px;
        height: 20px;
    }
    p{
        color: black;
    }
  }
  .listItem:hover{
    background-color: #555;
    p{
        color: white;
    }
  }
  .inputVerDescripcion{
    max-height: 175px;
    width: 100%;
    padding: 1em 0.5em;
    border-radius: 12px;
    margin-bottom: 0.5em;
    border: none;
    border-bottom: 1px solid var(--color9);
    color: black;
    font-weight: 500;
    overflow-y: auto;
  }
  .containerImg{
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color9);
    border-radius: 12px;

    img{
        width: 85%;
        height: 85%;
        border-radius: 12px;

    }
  }
.form-buttons{
    align-self: center;
    padding-top: 2em;
    position: sticky;
    bottom: 0;
}
